<div>

                  <input
                    type="text"
                    class="endpoint-prefix"
                    data-bind="value: settingsViewModel.settings.plugins.celestrius.snapshot_url"
                    style="width: 100%"
                  ></input>
</div>