<div>
  <h3>Privacy Notice and Terms</h3>
  <p>This plugin collect training data for <a href="https://obico.io/blog/celestrius-limited-pilot/">project Celestrius (limited pilot)</a> by <a href="https://www.obico.io/team.html">the Obico Team</a>.</p>
  <p>Please read the following carefully to make sure you understand the privacy and terms of this limited pilot program:</p>
  <ul>
    <li>When <b>ALL</b> of the following conditions are met, the plugin will take snapshots from the camera you configured below, and send them to a secure server hosted by the Obico Team.
      <ul>
        <li>You have accepted the terms by checking the box below;</li>
        <li>The data collection is enabled (Celestrius icon is green on the navigation bar). By default the data collection is disabled. So don't forget to toggle it on when you are doing the test prints for the pilot program;</li>
        <li>Your printer is printing.</li>
      </ul>
    </li>
    <li>The Obico Team won't access your data until 7 days after they are uploaded. This 7-day period is the grace period for you to request data withdrawal in case you accidentally send the data for the prints you don't intend to.</li>
    <li>You will find a list of all data that have been sent to the server at the bottom of this page. Please check the list periodically. If you find any data on the list that you don't intend to send to the Obico Team, please <a href="mailto:support@obico.io">email  us</a> to request data erasure.</li>
    <li>7 days after your data is uploaded to the server, the Obico Team will access them and use them for project Celestrius.</li>
  </ul>
  <div class="control-group">
      <div class="controls">
          <label class="checkbox">
              <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.celestrius.terms_accepted, enable: !termsAccepted(), click: savePluginSettings" id="settings-terms_accepted">
              <span data-bind="text: consentText"></span>
          </label>
      </div>
  </div>
  <form class="form-horizontal" onsubmit="return false;">
    <h3>Settings</h3>

    <div data-bind="visible: !termsAccepted()" class="alert alert-block">
      <p>Accept the terms above to access this section</p>
    </div>

    <div data-bind="visible: termsAccepted()">
      <div class="control-group" title="The email you signed up for the limited pilot with">
          <label class="control-label" for="pilot-email">Email</label>
          <div class="controls">
              <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.celestrius.pilot_email" id="pilot-email">
              <span class="help-inline">The email you signed up for the limited pilot with. Please make sure the email is correct as this will be used to communicate with you throughout the pilot program.</span>
          </div>
      </div>
      <div class="control-group" title="Snapshot URL for the nozzle camera">
          <label class="control-label" for="snapshot-url">Snapshot URL</label>
          <div class="controls">
              <div class="input-append">
                  <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.celestrius.snapshot_url" id="snapshot-url">
                  <button class="btn" type="button" data-bind="click: testWebcamSnapshotUrl, enable: settingsViewModel.settings.plugins.celestrius.snapshot_url() && !testWebcamSnapshotUrlBusy(), css: {disabled: !settingsViewModel.settings.plugins.celestrius.snapshot_url() || testWebcamSnapshotUrlBusy()}"><i class="fas fa-spinner fa-spin" data-bind="visible: testWebcamSnapshotUrlBusy"></i> Test</button>
              </div>
              <span class="help-inline">The Snapshot URL for <b>the nozzle camera you set up for project Celestrius</b>. Please note if you have multiple cameras set up, this may NOT be the main camera you configured in OctoPrint. Use the "Test" button to make sure this URL works, and the image shows your nozzle camera as intended.</span>
          </div>
      </div>
      <div class="control-group" title="Z-offset increment">
          <label class="control-label" for="pilot-email">Z-offset increment</label>
          <div class="controls">
              <input type="number" min="0" step="0.02" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.celestrius.z_offset_increment" id="z_offset_increment">
              <span class="help-inline">The amount of z-offset will increase when the print progresses from one block to the next. This is only for z-offset tests and activated only when the G-Code file name matche the pattern "<i>XXX-Celestrius-Z-Offset-XXX</i>".</span>
          </div>
      </div>
    </div>
  </form>
  <h3>Celestrius Data Collection History</h3>
  <p>The snapshots collected from the follow prints have been sent to the Celestrius server. They will be accessed by the Obico Team 7 days after the upload. If you have found unintentional uploads, please <a href="mailto:support@obico.io">email  us</a> to request data erasure.</li>
  <table class="table table-striped">
    <thead>
        <tr><th>GCode</th><th>Upload Date</th></tr>
    </thead>
      <tbody data-bind="foreach: uploadHistory">
    <tr>
      <td data-bind="text: $data[0]"></td>
      <td data-bind="text: $data[1]"></td>
    </tr>
  </tbody>
</table>
</div>
