#navbar_plugin_celestrius .celestrius-toggle.enabled {
	background: #5CB85C;
}
#navbar_plugin_celestrius .celestrius-toggle.enabled:hover {
	background: #4CAE4C !important;
}

#navbar_plugin_celestrius .celestrius-toggle.need_config {
	background: #FFA500;
}
#navbar_plugin_celestrius .celestrius-toggle.need_config:hover {
	background: #FFA500 !important;
}

